@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&display=swap');

@import "./utilities/variables";
// Utilidades = VARIABLES,  MIXIN, FUNCIONES
@import "./base/reset";
//BASE = RESET, TIPOGRAFIAS
@import "./components/nav";
//VIEWS = CODIGO PARTICIONADO DE CADA SECCION O PAGE


/* media para celular */

@media  (min-width: 320px) and (max-width:576px) {
    
}

/* media para tablet */
@media (max-width:991px) {
    .nav__label {
        display: block;
        cursor: pointer;
        }

    .nav__menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #f08080;
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
        
}
/* media para desktop */
@media  (min-width: 320px) and (max-width:576px) {
    
}